<h1>Acerca de VOX</h1>
<p>Vox será un sistema gestor de contenidos para procesos de selección (concursos, premios, etc.) de código abierto.</p>

<p>Será desarrollado siguiendo las téncias de BDD (Desarrollo dirigido por comportamiento) y TDD (desarrollo dirigido por pruebas), ambos compatibles entre sí.
<p>Para las Historias de Usuario se ulizará: PivotalTracker
<p>Para seguir BDD, se utilizará Cucumber y Capybara.
<p>Para seguir TDD, se utilizará RSpec. 
<br>
</br>
<p> En escencia es un experimento de aplicación y practica de los conceptos de BDD y TDD utilizando el lenguaje de programción Ruby y el framework Ruby on Rails. 
<p>Algunos de los archivos no siguen exactamente las buenas practicas, en algunos casos por desconocimiento y en otros como parte del experimento. Toda contribución, consejo, critica constructiva, consultas son bienvenidas.
<br>
<p>Código fuente disponible en <a href="https://github.com/matiasmasca/vox">GitHub</a>
