<p>Por ahora no hay formulario de contacto, pero me encuetras en Twitter</p>
<a href="https://twitter.com/matiasmasca" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @twitterapi</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>
<br>
<br>
<p>Mandame directamente un tweet</p>
<a href="https://twitter.com/intent/tweet?screen_name=matiasmasca" class="twitter-mention-button" data-show-count = "true" data-lang="es" data-size="large" data-related="matiasmasca">Tweet to @matiasmasca</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
