<% unless user_signed_in? %>
<div class="jumbotron">
  <h1>¿Eres nuevo en Vox?</h1>
        <p class="lead">Para poder participar de algun proceso de selección deberás tener registrado tu usuario y contraseña.</p>
        <p class="lead">Vox es una plataforma donde podrás votar por tus candidatos favoritos en diferentes procesos de elección.</p>
        <p><%= link_to "Crear usuario", new_user_registration_path, :class => 'btn btn-lg btn-warning'  %></p>
        <h2> Ya tienes cuenta</h2>
        <p> Inicia sesión aqui <%= link_to "Iniciar sesión", new_user_session_path, :class => 'btn btn-lg btn-success'  %>
</div>
<hr>
<% end %>

<h2>Procesos de Selección en VOX</h2>
Se listarán los procesos de selección, de la plataforma, para que puedas participar de ellos o ver los resultados.
<br>


<%= render partial: "selection_processes/procesos_habilitados", object: @selection_processes  %>

