<h2>Términos y condiciones</h2>
<br>
<p>Los presentes términos y condiciones son de aplicación exclusiva y obligatoria a los interesados en utilizar los servicios ofrecidos por el sito tfa-vox.heroku.com. Cualquier persona que desee acceder y/o usar el Sitio o los servicios que este ofrece; podrá realizarlo sujetándose a los presentes. CUALQUIER PERSONA QUE NO ACEPTE LA TOTALIDAD DE ESTOS TÉRMINOS Y CONDICIONES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS QUE ESTE PRESTA. El Usuario debe leer, entender, aceptar y respetar todas y cada una de las condiciones establecidas, previo a su registración como Usuario de [tfa-vox].
<br>
<p>Que ante cualquier duda y/o consulta sobre los términos y condiciones, previo a la registración, el interesado en utilizar www.[tfa-vox]; puede contactarse con el administrador del presente sitio web, a la dirección de correo info@[tfa-vox], a los fines de aclarar cualquier inquietud sobre la utilización del mismo.
<br>
<p>I – Registración
<br>
<p>Usuarios. Es obligatorio completar el formulario de REGISTRACION con información personal completa, clara y veraz para poder utilizar los servicios que brinda [tfa-vox]. El futuro Usuario deberá completarlo con su Información Personal y asume el compromiso de actualizarla conforme resulte necesario. [tfa-vox] NO se responsabiliza por la certeza de la Información Personal provista por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la información aquí publicada.
<br>
<p>El Usuario accederá a su cuenta personal mediante el ingreso de su email o nombre de usuario y contraseña de seguridad personal. El Usuario se obliga a mantener la confidencialidad de su Contraseña de Seguridad. El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Contraseña de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a [tfa-vox] en forma inmediata a la dirección de correo info@[tfa-vox], cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma.
<br>
<p>II – De los servicios y contenidos en particular
<br>
<p>[tfa-vox] es un sitio de Internet basado en una herramienta de comunicación, que permite poner en contacto a sus usuarios para que los mismos compartan opiniones, comentarios, y en general cualquier tipo de información sobre una "propuesta" que sea de su interes. El objetivo de [tfa-vox] es la creación de un ámbito de comunicación y esparcimiento tan amplio como sea posible, destinado al público de Internet en general para generar concenso sobre topicos en particular creados por los mismos usuarios.
<br>
<p>II – De las propuestas
<br>
<p>El principal servicio que [tfa-vox] pone a disposición de los usuarios es la posibilidad de votar propuestas expresadas por otros usuarios y publicadas en el Sitio.
<br>
<p>III - Modificaciones del Acuerdo
<br>
<p>[tfa-vox] podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los cinco (5) días de su publicación en el sitio web. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar info@[tfa-vox], la no aceptación las mismas; en ese caso será inhabilitado como Usuario. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y condiciones.
<br>
<p>IV - Sanciones. Suspensión de operaciones
<br>
<p>Sin perjuicio de otras medidas, [tfa-vox], podrá suspender temporal o definitivamente la Cuenta de un Usuario, si advierte que el mismo utiliza el presente sitio web para quebrantar o infringir alguna normativa legal, y/o las estipulaciones de los Términos y Condiciones y demás políticas de [tfa-vox]; si incumpliera sus compromisos como Usuario; si se incurriera a criterio de [tfa-vox] en conductas. [tfa-vox] podrá decidir a su exclusivo criterio no prestar el servicio, sin generar esto responsabilidad alguna.
<br>
<p>V - Responsabilidad
<br>
<p>[tfa-vox] simplemente pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para encontrar una forma de intercambiar opiniones sobre topicos particulares expresados como propuestas.
<br>
<p>VI - Alcance de los servicios de [tfa-vox]
<br>
<p>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación entre [tfa-vox] y el Usuario. El Usuario reconoce y acepta que [tfa-vox] no tiene control sobre la veracidad o exactitud de las propuestas publicadas por ellos.
<br>
<p>VII - Fallas en el sistema
<br>
<p>[tfa-vox] no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en Internet. [tfa-vox] tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. [tfa-vox] no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a [tfa-vox]; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. [tfa-vox] no será responsable por ningún error u omisión contenidos en su sitio web.
<br>
<p>VIII - Propiedad intelectual. Enlaces
<br>
<p>Los contenidos de las pantallas relativas a los servicios de [tfa-vox] como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de [tfa-vox] y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de [tfa-vox].
<br>
<p>El Sitio puede contener enlaces a otros sitios web lo cual no indica ni significa que sean propiedad u operados por [tfa-vox]. En virtud que [tfa-vox] no tiene control sobre tales sitios NO será responsable por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de [tfa-vox] a dichos sitios y sus contenidos.
<br>
<p>IX - Jurisdicción y Ley Aplicable
<br>
<p>Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.
<br>
<p>Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a los tribunales Ordinarios de la Ciudad de Corrientes (Argentina). Las partes renuncian al fuero Federal y/o todo otro de excepción que les pudieren corresponder.
<br>
<p>Última actualización: 21 de Septiembre de 2014. 