<h1>Editando proceso de selección</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @selection_processes, :class => 'btn btn-link' %> |
<%= link_to 'Atras', selection_process_path, :class => 'btn btn-link' %>
