<h1>Listing emitted_votes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th> ... </th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emitted_votes.each do |emitted_vote| %>
      <tr>
        <td><%= emitted_vote.user_id %></td>
        <td></td>
        <td><%= emitted_vote.category_id %></td>
        <td><%= link_to 'Show', emitted_vote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

