<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @emitted_vote.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @emitted_vote.category %>
</p>

<%= link_to 'Back', emitted_votes_path %>
