<!-- PO: Por ahora 1 solo usuario por organización -->
<li>
  <h3><span ><%= @user.usuario %></span></h3>
  <span ><%= @user.email %></span>
  <%= link_to 'Más información', user_path(@user) %>
  <p>
</li>
