<h1>Editando Organización</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @organizer, :class => 'btn btn-link' %> |
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>