<h1>Nueva entidad organizadora</h1>
<p>Podr치 asociar los procesos de selecci칩n que cree a esta Organizaci칩n, luego se har치 referencia a ella como Organizador y no a su usuario.

<%= render 'form' %>

<%= link_to 'Atras', organizers_path, :class => 'btn btn-default' %>

