<h1>Editando Usuario</h1>

  <%= render 'form' %>

<%= link_to 'Mostrar', @user, :class => 'btn btn-link' %> |
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>
