<!--Lista de procesos-->
 <div class="list-group">
 <a class="list-group-item active" href=""> Padrón</a>
 <% unless @selection_process.nil? #|| @selection_process.organizer.nil? %>
 <%= link_to ' Padrón de Electores', selection_process_voter_lists_path(user_session[:selection_process_id]), :class => 'btn btn-default btn glyphicon glyphicon-list list-group-item' %>
<% end %>
 </div>