<h1>Editando candidato</h1>

<%= render 'form' %>

<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>|

<%= link_to ' Mostrar', @candidate, :class => 'btn btn-link btn glyphicon glyphicon-eye-open' %>