<h1>Nuevo Elector</h1>
<p>Los electores son los usuarios registrados en el sistema que pueden votar por los candidadtos en las diferentes categorias de un proceso.
<p>Para que puedan emitir su voto, deben agregarse al padrón.

<%= render 'form' %>

<%= link_to ' Ir al Padrón', selection_process_voter_lists_path(@selection_process.id), :class => 'btn btn-default btn glyphicon glyphicon-list' %>