
<!--Lista de Candidadtos para la Categoría seleccionada del Proceso seleccionado-->
<!--tiene que mostrar solo si hay cagoria seleccionada-->
<% unless @category.nil? %>

<p class="list-group-item"><b>Candidatos a <%= link_to "#{@category.name}", category_path(@category), :class => "" %></b></p>
<div class="list-group">
<% @category.candidate.each do |candidate| %>        
       <%= link_to candidate, :class => "list-group-item" do %>
           <%= candidate.name %> 
      <% end %>
<% end %>

<!-- ahora agregar (+) para que sumen los candidatos que faltan -->
<% if @category.candidate.size <= @category.bench %>
  <% (@category.bench - @category.candidate.size ).times do |candi|  %>
      <%= link_to ' Agregar Candidato', new_category_candidate_path(@category), :class => "list-group-item btn glyphicon glyphicon-plus-sign" %>
        </span>
   <% end %>  
<% end %>

</div>
<% end %>

