<h1>Nuevo candidato</h1>
<p>Las candidatos, forman parte de las n-uplas de los procesos (por ejemplo una terna de nominados, tiene 3 candidatos.

<%= render 'form' %>

<%= link_to ' Ir a Candidatos', candidates_path, :class => 'btn btn-default btn glyphicon glyphicon-list' %>