
<!--Lista de procesos-->
<% unless @selection_processes.nil? %>
<div class="list-group">
<%= link_to ' Mis Procesos', organizer_selection_processes_path(@organizer), :class => 'btn btn-default btn glyphicon glyphicon-film list-group-item active' %>
<% @selection_processes.each do |selection_process| %>        
       <%= link_to " #{selection_process.name_process}", selection_process, :class => 'btn btn-default btn glyphicon glyphicon-star list-group-item' %> 
<% end %>
</div>
<% end %>


