<!--Lista de opciones por proceso-->
<% unless user_session[:selection_processes_id] #@selection_process.nil? || @selection_process.organizer.nil? %>
  <div class="list-group">
    <!--Sidebar Cabecera active-->
    <%= link_to ' Mis Procesos', organizer_selection_processes_path(@selection_process.organizer), :class => 'btn btn-default btn glyphicon glyphicon-film list-group-item active' %>
      <!--Editar el proceso-->
      <% if !@selection_process.id.nil? %>
    <%= link_to ' Editar proceso', edit_selection_process_path(@selection_process), title: "Editar proceso #{@selection_process.name_process}", :class => 'btn btn-default btn glyphicon glyphicon-pencil list-group-item' %> 
    <!--Categorias del proceso-->
   <%= link_to ' Categorías', selection_process_categories_path(@selection_process), :class => 'btn btn-link btn glyphicon glyphicon-list list-group-item' %>
   <!--Candidatos del proceso-->
   <!--Candidatos where: Category.selection_process_id == selection_process -->
	 <%= link_to ' Candidatos', selection_processes_candidates_url(@selection_process), :class => 'btn btn-link btn glyphicon glyphicon-list list-group-item' %>
   <% end %>
  </div>
<% end %>