<!--Lista de procesos-->
<% unless @selection_processes.empty? %>
 <div class="list-group">
 <%= link_to ' Mis Procesos', organizer_selection_processes_path(@selection_processes.first.organizer), :class => 'list-group-item active' %>
 <% @selection_processes.each do |selection_process| %>        
    <%= link_to " #{selection_process.name_process}", selection_process, :class => 'list-group-item' %> 
 <% end %>
 </div>
<% end %>
