<!-- PO: Por ahora 1 solo organizador por proceso de selección -->
<li>
  <h3><span ><%= @selection_process.organizer.name %></span></h3>
  <%= link_to 'Más información', organizer_path(@selection_process.organizer) %>
  <p>
</li>
