<h1>Editando proceso de selección</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @selection_process, :class => 'btn btn-link' %> |
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>
