<li>
  <h3><span ><%= @category.selection_process.name_process %></span></h3>
  <span ><%= @category.selection_process.place %></span>
  <%= link_to 'Más información', selection_process_path(@category.selection_process) %>
  <p>
</li>