<h1>Editando categoria</h1>

<%= render 'form' %>

<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>|
<%= link_to ' Mostrar', @category, :class => 'btn btn-link btn glyphicon glyphicon-eye-open' %>

