<h1>Nueva categoria</h1>
<p>Las categorias, forman las n-uplas de los procesos (por ejemplo una terna de nominados, tiene 3 plazas.

<%= render 'form' %>

<% if params[:selection_process_id] %>
<%= link_to ' Ir a Categorias', selection_process_categories_path(params[:selection_process_id]), :class => 'btn btn-default btn glyphicon glyphicon-list' %>
<% else %>
<%= link_to ' Ir a Categorias', categories_path, :class => 'btn btn-default btn glyphicon glyphicon-list' %>
<% end %>