
<% if current_user.is_admin? %>
<li class="active"><%= link_to ' Escritorio',  paginas_admin_dashboard_path, class: "glyphicon glyphicon-dashboard" %></li>
<% end %>

<% unless current_user.is_admin? %>
<li class="active"><%= link_to ' Escritorio',  paginas_user_dashboard_path, class: "glyphicon glyphicon-dashboard" %></li>
<% end %>