<p>Hola, <%= @resource.email %>!</p>
<p> Tu o alguien ha solicidad un enlace para cambiar tu clave. Puedes hacerlo haciendo click en el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>

<p>Si tu no pediste el cambio, por favor ignora este mensaje.</p>
<p>Tu clave no cambiará hasta que accedas al enlace de arriba y crees una nueva clave.</p>
